---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
---

<Layout>
  <header
    class="w-full h-[80px] bg-pasap-green-1 mx-auto text-center grid place-items-center"
  >
    <h1>Header</h1>
  </header>
  <main>
    <Hero />
    <div class="h-[200px] bg-black"></div>
  </main>

  <footer></footer>
</Layout>
