---
import Layout from "../layouts/Layout.astro";
import Equipo from "../sections/Equipo.astro";
import Hero from "../sections/Hero.astro";
import Metodologia from "../sections/Metodologia.astro";
import Oferta from "../sections/Oferta.astro";
import Opiniones from "../sections/Opiniones.astro";
import PreguntasFrecuentes from "../sections/PreguntasFrecuentes.astro";
import Retos from "../sections/Retos.astro";
import Solucion from "../sections/Solucion.astro";
---

<Layout>
  <header></header>
  <main>
    <Hero />
    <Retos />
    <Solucion />
    <Metodologia />
    <Oferta />
    <Equipo />
    <Opiniones />
    <PreguntasFrecuentes />

    <footer></footer>
  </main>
</Layout>
