---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Retos from "../sections/Retos.astro";
---

<Layout>
  <header></header>
  <main>
    <Hero />
    <Retos />

    <footer></footer>
  </main>
</Layout>
