---
interface Props {
  title?: string;

  texto?: string;
}

const { texto, title } = Astro.props;
---

<a
  id="os-info"
  href=""
  target="_blank"
  title="boton de solucitud de servicio"
  aria-label="boton de solucitud de servicio"
  class="bg-pasap-green-2/80 text-gray-50 font-semibold py-6 px-7 rounded-full hover:bg-pasap-green-1/80 transition-all duration-300 ease-in-out text-[clamp(0.75rem,3.5vw,1.5rem)] shadow-md shadow-pasap-green-2/70 hover:shadow-none hover:text-gray-900"
>
  {texto ? texto : "QUIERO EMPEZAR A TRABAJAR CON PASAP"}
</a>

<script is:inline>
  // La función getOperatingSystem debe estar disponible aquí,
  // puedes copiarla directamente o importarla si usas ESM en el cliente.

  function getOperatingSystem() {
    const userAgent = navigator.userAgent;

    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
      return www.google.com;
    }
    if (/Android/.test(userAgent)) {
      return "https://play.google.com/store/apps/details?id=ar.com.pasap";
    }
    return "https://www.youtube.com/";
  }

  document.addEventListener("DOMContentLoaded", () => {
    const os = getOperatingSystem();

    const osInfoElement = document.getElementById("os-info");

    if (osInfoElement) {
      console.log(os);
      osInfoElement.setAttribute("href", `${os}`);
    }
  });
</script>
