---
interface Props {
  texto?: string;
}

const { texto } = Astro.props;
---

<a
  href="http://wa.me/5491168064966"
  target="_blank"
  title="boton de solucitud de servicio"
  aria-label="boton de solucitud de servicio"
  class="bg-pasap-green-1/80 font-semibold py-6 px-7 rounded-full hover:bg-pasap-green-2/80 transition-all duration-300 ease-in-out text-[clamp(0.75rem,3.5vw,1.5rem)] shadow-lg shadow-pasap-green-3/70 hover:shadow-nonetext-gray-900 text-center text-pretty uppercase"
>
  {
    texto ? (
      texto
    ) : (
      <p class="text-pretty flex justify-center items-center gap-2">
        QUIERO SUMARME A
        <img
          class=" h-[clamp(1.5rem,3vw,2rem)] "
          src="/images/logo_completo.avif"
          alt=""
        />
      </p>
    )
  }
</a>

