---
interface Props {
  href?: string;
  title?: string;

  texto?: string;
}

const { texto, href, title } = Astro.props;
---

<a
  href=""
  target="_blank"
  title="boton de solucitud de servicio"
  aria-label="boton de solucitud de servicio"
  class="bg-pasap-green-2/80 text-gray-50 font-semibold py-6 px-7 rounded-full hover:bg-pasap-green-1/80 transition-all duration-300 ease-in-out text-[clamp(0.75rem,3.5vw,1.5rem)] shadow-md shadow-pasap-green-2/70 hover:shadow-none hover:text-gray-900"
>
  {texto ? texto : "QUIERO EMPEZAR A TRABAJAR CON PASAP"}
</a>
