---
interface Props {
  nombre: string;
  texto: string;
  matricula: string;
  localidad: string
}
const { nombre, texto, matricula, localidad } = Astro.props;
---

<div
  class="inset-shadow-sm inset-shadow-gray-500/60 bg-gray-200/10 p-4 rounded-lg text-gray-800 text-shadow-sm break-inside-avoid-column relative z-10
  h-[220px] max-w-[400px] shadow-lg shadow-gray-800/60 mb-5"
>
  <div
    class="w-full h-full relative before:absolute before:top-0 before:left-0 before:size-full before:bg-[url('/images/comillas.avif')] before:bg-contain before:bg-center before:bg-no-repeat before:-z-10 before:opacity-20 flex flex-col justify-between items-start gap-1"
  >
    <p class="text-[clamp(1.2rem,3.5vw,1.5rem)] font-semibold">
      {nombre} - <span class="text-[clamp(1rem,3.5vw,1.2rem)] font-medium ">{localidad}</span>
    </p>
    <p class="text-[clamp(1rem,3.5vw,1.2rem)] font-medium text-suplementary-2">
      Matricula n° {matricula}
    </p>
    <div
      class="leading-tight text-[clamp(.8rem,3.5vw,1rem)] h-full justify-start"
    >
      "{texto}"
    </div>
  </div>
</div>
