---
interface Props {
  bg_color?: string;
}
const { bg_color } = Astro.props as Props;
---

<div
  class={bg_color ? `w-full pb-16 pt-8 bg-${bg_color}` : "w-full pb-16 pt-8"}
>
  <div class="w-full max-w-6xl mx-auto">
    <div class="w-full
    grid
    place-items-center
    gap-7">
      <slot />
    </div>
  </div>
</div>
