---
interface Props {
  texto_1: string;
  texto_2?: string;
  texto_color?: string;
}

const { texto_1, texto_2, texto_color } = Astro.props;
---

<h2
  class={texto_color
    ? `text-${texto_color} grid place-items-center w-full text-[clamp(0.75rem,5vw,2.5rem)] font-title font-bold text-center leading-tight text-pretty`
    : "text-gray-900 grid place-items-center w-full text-[clamp(0.75rem,5vw,2.5rem)] font-title font-bold text-center leading-tight text-pretty"}
>
  {texto_1}
  <br />
  {texto_2}
</h2>
