---
interface Props {
  texto_1: string;
  texto_2?: string;
  texto_color?: string;
}

const { texto_1, texto_2, texto_color } = Astro.props;
---

<h2
  class={texto_color
    ? `text-${texto_color} grid place-items-center w-full text-[clamp(1.3rem,6vw,4rem)] font-title font-bold text-center leading-tight text-pretty pt-8 text-shadow-2xl`
    : "text-gray-900 grid place-items-center w-full text-[clamp(1.3rem,6vw,4rem)] font-title font-bold text-center leading-tight text-pretty pt-8 text-shadow-2xl"}
>
  <p>{texto_1}</p>
  <p>{texto_2}</p>
</h2>
