---
import Container from "../components/Container.astro";
---

<footer
  id="footer"
  class="w-full"
>
  <Container>
    <div class="flex justify-center items-center flex-col gap-4 p-4">
      <img
        src="/images/logo_completo.avif"
        alt="titulo"
        aria-label="titulo"
        class="w-[clamp(200px,50vw,450px)] max-w-[450px]"
      />

      <p class="text-center text-lg grid gap-2 text-gray-800">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
          aliquam dolorum id rerum earum impedit nobis vitae odio eveniet
          reprehenderit nisi</span
        >
      </p>
    </div>
  </Container>
</footer>
