---
import Container from "../components/Container.astro";
import Facebook from "../components/svg/Facebook.astro";
import Instagram from "../components/svg/Instagram.astro";
import Linkedin from "../components/svg/Linkedin.astro";

---

<footer
  id="footer"
  class="w-full"
>
  <Container>
    <div class="flex justify-center items-center flex-col gap-4 p-4">
      <img
        src="/images/logo_completo.avif"
        alt="titulo"
        aria-label="titulo"
        class="w-[clamp(200px,50vw,450px)] max-w-[450px]"
      />

      <p class="text-center text-lg grid gap-2 text-gray-800">
        <span>Todos los derechos reservados © Pasap</span>
        <div class="flex justify-center items-center gap-2">
          <a href="https://www.facebook.com/pasap.seguros" target="_blank"  >
            <Facebook />           
          </a>
          <a href="https://www.instagram.com/pasap.seguros/#" target="_blank">
            <Instagram/>
          </a>  
          <a href=" https://www.linkedin.com/company/pasap" target="_blank">
            <Linkedin />           
          </a>
          </div
        >
      </p>
    </div>
  </Container>
</footer>
