---
import Button from "../components/Button.astro";
import Container from "../components/Container.astro";
---

<Container id="hero">
  <div class="w-full h-dvh grid place-items-center">
    <h1 class="w-full mx-auto grid place-items-center">
      <img
        src="/images/BBB.avif"
        alt="titulo"
        aria-label="titulo"
        class="w-[calc (100vw - 2rem)] max-w-[300px]"
      />
    </h1>
    <h2
      class="grid place-items-center mt-5 w-full text-7xl font-title font-bold text-center leading-tight text-pretty"
    >
      <p>Potencia tu liderazgo creativo y obtén</p>
      <p>Porro aliquam dolorum id rerum</p>
    </h2>
    <div class="grid grid-cols-2 gap-5 items-center">
      <div class="flex flex-col gap-4 p-4">
        <p class="text-left text-2xl grid gap-5 leading-normal">
          <span
            >Lorem ipsum dolor sit <strong class="font-semibold"
              >amet consectetur adipisicing elit.</strong
            > Porro aliquam dolorum id rerum earum impedit nobis vitae odio eveniet
            reprehenderit nisi</span
          >
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            aliquam dolorum id rerum earum impedit nobis vitae odio eveniet
            reprehenderit nisi</span
          >
        </p>
        <div class="mt-4 w-full grid place-items-center">
          <Button />
        </div>
      </div>
      <div class="flex justify-center items-center">
        <img
          class="w-full object-cover drop-shadow-xl/75"
          src="/images/compu2.avif"
          alt="Hero Image"
        />
      </div>
    </div>
  </div>
</Container>
