---
import Subtitulo from "../components/Subtitulo.astro";
import Container from "../components/Container.astro";
import Titulos from "../components/Titulos.astro";
---

<section
  id="retos"
  class="w-full bg-suplementary-1/80"
>
  <Container>
    <Titulos
      texto_color="#f4f4f4"
      texto_1="Nuestros Retos Lorem ipsum dolor"
      texto_2=" sit amet consectetur adipisicing elit"
    />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-center">
      <div class="flex flex-col gap-4 p-4 order-2 lg:order-1">
        <div class="text-left text-2xl grid gap-5 text-gray-50">
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.Porro
            aliquam dolorum id rerum earum impedit nobis vitae odio
          </span>
          <div class="flex gap-2 items-top text-xl">
            <img
              class="size-6 mt-2"
              src="/images/flecha.avif"
              alt=""
            />
            <span>
              <strong
                >Lorem ipsum dolor sit amet consectetur
              </strong>adipisicing elit. Porro aliquam dolorum id rerum earum
              impedit nobis vitae odio</span
            >
          </div>
          <div class="flex gap-2 items-top text-xl">
            <img
              class="size-6 mt-2"
              src="/images/flecha.avif"
              alt=""
            />
            <span>
              <strong
                >Lorem ipsum dolor sit amet consectetur
              </strong>adipisicing elit. Porro aliquam dolorum id rerum earum
              impedit nobis vitae odio</span
            >
          </div>
          <div class="flex gap-2 items-top text-xl">
            <img
              class="size-6 mt-2"
              src="/images/flecha.avif"
              alt=""
            />
            <span>
              <strong
                >Lorem ipsum dolor sit amet consectetur
              </strong>adipisicing elit. Porro aliquam dolorum id rerum earum
              impedit nobis vitae odio</span
            >
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center lg:order-2">
        <div
          class="size-[clamp(250px,50vw,350px)] relative before:absolute before:top-10 before:-left-10 before:size-[70px] before:bg-suplementary-32 before:rounded-tl-[35%] before:rounded-tr-[35%] before:rounded-bl-[35%] before:rounded-br-[12%] before:bg-[url('/svg/line-chart.svg')]
     before:bg-no-repeat before:bg-contain
     before:flex before:items-center before:justify-center before:z-10"
        >
          <img
            src="/images/caucion.avif"
            alt=""
            class="w-full h-full rounded-tl-[30%] rounded-tr-[30%] rounded-br-[30%] rounded-bl-[8%]"
          />
        </div>
      </div>
    </div>
    <Subtitulo
      texto_color="#f4f4f4"
      texto_1="Nuestros Retos Lorem ipsum dolor"
      texto_2=" sit amet consectetur adipisicing elit"
    />
  </Container>
</section>
