---
import Subtitulo from "../components/Subtitulo.astro";
import Container from "../components/Container.astro";
import Titulos from "../components/Titulos.astro";
import Boton from "../components/Boton.astro";
import Comentario from "../components/Comentario.astro";
import CardRetos from "../components/CardRetos.astro";
import data from "../data/cardRetos.json"

---

<section
  id="retos"
  class="w-full bg-suplementary-1/80"
>
  <Container>
    <span class="w-full pt-9"></span>
    <Titulos
      texto_color="gray-50"
      texto_1="¿Estás preparado para ser un verdadero "
      texto_2="Asesor de Seguros digital?"
    />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-center">
      <div class="flex flex-col gap-4 p-4 order-2 lg:order-1">
        <div
          class="text-center md:text-left text-[clamp(1rem,5vw,1.5rem)] grid gap-5 text-gray-50 text-pretty"
        >
          <span
            >Tenés el propósito, las ganas y la energía para realizarlo, pero te enfrentas con múltiples inconvenientes a diario que te impiden avanzar: 

          </span>

          {
            data.map((item) => (
              <CardRetos
                titulo={item.titulo}
                texto={item.texto}
              />
            ))
          }
        </div>
      </div>
      <div class="flex justify-center items-center lg:order-2 drop-shadow-2xl">
        <div
          class="size-[calc(100%-35%)] relative before before:absolute before:top-20 before:-left-14 before:size-[35%]  before:rounded-full before:bg-[url('/svg/line-chart.svg')] before:bg-no-repeat before:bg-size-[70%] before:bg-center before:flex before:items-center before:justify-center before:z-10 after:content-[''] after:absolute after:top-40 after:-right-14 after:size-[35%]  after:rounded-full after:bg-[url('/svg/costos-chart.svg')] after:bg-no-repeat after:bg-size-[70%] after:bg-center after:flex after:items-center after:justify-center after:z-10"
        >
          <img
            src="/images/retos.avif"
            alt=""
            class="w-full h-full rounded-full"
          />
        </div>
      </div>
    </div>
    <!--  <Subtitulo
      texto_color="gray-50"
      texto_1=""
    />

    <div class="w-[80%]">
      <p
        class="text-gray-50 text-pretty text-[clamp(1rem,5vw,1.5rem)] text-center my-[1lh]"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate nam
        repellendus corporis aperiam cupiditate quos accusantium recusandae,
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
        veritatis,
      </p>
      <p
        class="text-gray-50 text-pretty text-[clamp(1rem,5vw,1.5rem)] text-center my-[1lh]"
      >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate nam
        repellendus corporis aperiam cupiditate quos accusantium recusandae,
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
        veritatis,
      </p>
    </div>

    <Comentario texto_color="gray-50" /> -->

    <!-- <Boton texto="¡COMENZÁ HOY!" /> -->
  </Container>
</section>
