---
import Boton from "../components/Boton.astro";
import CardSoluciones from "../components/CardSoluciones.astro";

import Container from "../components/Container.astro";
import Subtitulo from "../components/Subtitulo.astro";
import Titulos from "../components/Titulos.astro";
import data from "../data/solucion.json";
---

<section id="solucion">
  <Container>
    <Titulos texto_1="Transformamos la manera de asegurar" />
    <Subtitulo
      texto_color="#f4f4f4"
      texto_1="Sin papelesðŸ“„, sin vueltasðŸ”„ï¸, sin limitesðŸš€"
    />
    <div
      class="grid grid-col-1 md:grid-cols-2 lg:grid-cols-3 gap-2 place-items-center w-full px-4 mt-6"
    >
      {
        data.map((item) => (
          <CardSoluciones
            numero={item.numero}
            titulo={item.titulo}
            texto={item.texto}
          />
        ))
      }
    </div>

    <Boton texto="Â¡COMENZÃ HOY!" />
  </Container>
</section>
